{{#if this.isInit}}
  <button {{on "click" this.click}} type="button">{{yield}}</button>
{{/if}}

{{#if this.isUnconfirmed}}
  Are you sure?
  <button {{on "click" this.cancelClick}} type="button">No</button>
  <button {{on "click" this.click}} type="button">Yes</button>
{{/if}}

{{#if this.isConfirmed}}
  Action executed!
{{/if}}
