<article>
  <h1>{{this.model.title}}</h1>
  <ul>
  {{#each this.model.topLevelNodes as |node|}}
    <li>
      <Tree::Node @node={{node}} @experience={{this.experience}} />
    </li>
  {{/each}}
  </ul>
</article>
