


// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

.au-c-toolbar .au-c-heading {
  display: inline-flex;
  align-items: center;

  .au-c-pill {
    margin-right: $au-unit-small;
  }
}

// Add a fixed grid option for sidebar layouts (@TODO: update appuniversum)
.au-o-grid--fixed {
  height: 100%;
  overflow: hidden;

  > .au-o-grid__item {
    height: 100%;
  }
}


.au-c-theme-background {
  background-color: $au-gray-100;
}

.region--alt {
  background-color: $au-gray-200;
}

// Responsive alignment
.au-u-text-right\@medium {
  @include mq(medium) {
    text-align: right;
  }
}
