/* ==========================================================================
   #SHAME
   Dirty temporary css for demo purposes.
   Some parts will be reused, but most of them will not.
   ========================================================================== */


// Toolbar group rows
.au-c-toolbar__group--row {
  display: block;
  width: 100%;

  & + & {
    margin-top: $au-unit;
  }
}

.au-c-toolbar .au-c-heading {
  display: inline-flex;
  align-items: center;

  .au-c-pill {
    margin-right: $au-unit-small;
  }
}

// Add a fixed grid option for sidebar layouts (@TODO: update appuniversum)
.au-o-grid--fixed {
  height: 100%;
  overflow: hidden;

  > .au-o-grid__item {
    height: 100%;
  }
}

// Colour themes
.au-c-theme-gray-100 {
  background-color: $au-gray-100;
}

.au-c-theme-gray-200 {
  background-color: $au-gray-200;
}

// Responsive alignment
.au-u-text-right\@medium {
  @include mq(medium) {
    text-align: right;
  }
}

// Info text
.au-c-info-text {
  @include au-font-size($au-base);
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-600;
}

// Close button
.au-c-close {
  position: absolute;
  appearance: none;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  top: $au-unit-small;
  right: $au-unit-small;
  color: $au-gray-700;

  &:hover {
    color: $au-gray-600;
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-c-close--large {
  top: $au-unit;
  right: $au-unit;
}

// Form spacing
.au-c-form {
  > * + * {
    margin-top: $au-unit-small;
  }
}

// Horizontal divider
.au-c-hr {
  border: 0;
  border-bottom: .1rem solid $au-gray-300;
  margin-top: $au-unit;
  margin-bottom: $au-unit;
}

// Save message
.au-c-message {
  @include au-font-size($au-base);
  display: inline-flex;
  align-items: center;
  color: $au-green-700;
  font-weight: $au-medium;
  position: relative;
  top: .5ex;
  animation-name: dissappear;
  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes dissappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


// Limit title text
.au-u-limit-text {
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mq(small) {
    max-width: 45rem;
  }

  @include mq(medium) {
    max-width: 75rem;
  }

  @include mq(large) {
    max-width: 130rem;
  }
}

.au-u-limit-breadcrumb {
  display: block !important;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mq(small) {
    max-width: 30rem;
  }

  @include mq(medium) {
    max-width: 40rem;
  }

  @include mq(large) {
    max-width: 70rem;
  }
}

// Small
.au-c-small-text {
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-800;
}

.au-u-1-9\@small {
  @include mq(small) {
    width: 11.1111111% !important;
  }

}

.au-u-1-12\@medium {
  @include mq(medium) {
    width: 8.3333333% !important;
  }
}

.au-c-image {
  border: .1rem solid $au-gray-200;

  img {
    display: block;
    width: 100%;
  }
}
