<AuHeading @level="2" @skin="2">Open source</AuHeading>
<p>Deze software is open source.</p>

<p>Broncode kan je op github vinden:</p>
<ul>
  <li><a href="https://github.com/lblod/frontend-toevla" class="au-c-link">Widget</a></li>
  <li><a href="https://github.com/lblod/frontend-toevla-data-entry" class="au-c-link">Data entry</a></li>
</ul>
