<AuHeading @level="2" @skin="2">Plaatsing van de widget</AuHeading>

<p>Enkele aandachtspunten om toegankelijkheidsinformatie gemakkelijker te vinden en het gebruiksgemak te verhogen:</p>

<AuHeading @level="3" @skin="3">Zet toegankelijkheidsinformatie op een duidelijke plaats</AuHeading>
<p>Voorzie informatie over toegankelijkheid op een pagina op de website met de vermelding <CodeInline @code='/toegankelijkheid' @language="html" /> in de url. Of op een duidelijke plaats die gemakkelijk vindbaar is van op de startpagina.
Als iedereen dit doet verloopt het zoeken van toegankelijkheidsinformatie vlot en eenvoudig.</p>

<AuHeading @level="3" @skin="3">Controleer op tegenstrijdige informatie</AuHeading>
<p>Stem de informatie in de widget af op de informatie op je website.
Het kan zeer verwarrend overkomen als de info op de website zelf de widget informatie tegenspreekt.</p>

<AuHeading @level="3" @skin="3">Controleer op dubbele informatie</AuHeading>
<p>De widget geeft steeds een vast kader met informatie weer. Je weet als verantwoordelijke voor de informatie wat er wel of niet in te vinden is. Vul op je website aan waar je extra info wilt meegeven maar neem niet elk detail uit de widget over.</p>

<AuHeading @level="3" @skin="3">Wervende tekst</AuHeading>
<p>Zorg voor een inleiding bij de widget. Voorzie eventueel een wervende tekst waarin je de troeven van het museum weergeeft. Wat zijn belangrijke punten waarvoor je zeker eens langs moet komen?</p>
<p>De widget is vervolgens de aanvulling daarop.</p>

<AuHeading @level="3" @skin="3">Vragen of hulp nodig?</AuHeading>
<p>Heb je problemen bij het plaatsen van de widget? Stuur dan een e-mail naar <a href="mailto:toegankelijk@vlaanderen.be" class="au-c-link">toegankelijk@vlaanderen.be</a> of bel 011 26 50 30 (Inter).</p>
