<AuHeading @level="2" @skin="2">Stijl aanpassen</AuHeading>
<p>Je kan een aantal design elementen (kleuren, typografie) aanpassen door deze mee te geven in de widget code.</p>

<CodeBlock @code='<script
  src="{{this.baseUri.origin}}/widget.js"
  resource="[uri voor jouw gebouw-widget]"
  typeof="http://data.toegankelijk.vlaanderen.be/ns/Widget"
  data-style-check="#0E5EB8"
  data-style-link="#0E5EB8"
  data-style-link-hover="#0F6FD7"></script>'
  @language="html" />

<p>Hieronder vind u een lijst met properties die aanpasbaar zijn:</p>
<ul>
  <li><CodeInline @code='data-style-font="BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif"'/>: font family</li>
  <li><CodeInline @code='data-style-bold="700"'/>: bold font gewicht</li>
  <li><CodeInline @code='data-style-medium="600"'/>: medium font gewicht</li>
  <li><CodeInline @code='data-style-regular="500"'/>: regular font gewicht</li>
  <li><CodeInline @code='data-style-check="#0E5EB8"'/>: check/icoon kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-link="#0E5EB8"'/>: link kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-link-hover="#0F6FD7"'/>: link hover kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-error="#D92626"'/>: foutmelding kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-outline="#FFC515"'/>: focus outline kleur (HEX kleur waarde)</li>
</ul>

<p>Optioneel kan je ook een aantal kleuren aanpassen voor de geïnverteerde kleurmodus:</p>
<ul>
  <li><CodeInline @code='data-style-check-dark="#AAD0F9"'/>: geïnverteerde check/icoon kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-link-dark="#AAD0F9"'/>: geïnverteerde link kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-link-dark-hover="#DCECFD"'/>: geïnverteerde link hover kleur (HEX kleur waarde)</li>
  <li><CodeInline @code='data-style-error-dark="#D92626"'/>: geïnverteerde foutmelding kleur (HEX kleur waarde)</li>
</ul>

<AuHeading @level="3" @skin="3">Vragen of hulp nodig?</AuHeading>
<p>Als je problemen tegenkomt bij het implementeren van de widget dan kan je ons contacteren op <a href="mailto:toegankelijk@vlaanderen.be" class="au-c-link">toegankelijk@vlaanderen.be</a>.</p>
<p>Bugs of issues met de widget kan u melden op de <a href="https://github.com/lblod/frontend-toevla/issues" target="_blank" rel="noopener noreferrer" class="au-c-link">github pagina</a> van het project.</p>
