<AuHeading @level="2" @skin="2">Stijl aanpassen</AuHeading>
<p>Je kan een aantal design elementen (kleuren, typografie) aanpassen door deze mee te geven in de widget code.</p>

<CodeBlock @code='<script
  id="toevla-widget"
  data-resource="http://toevla.org/id/[id van jouw locatie]"
  src="https://embed-dev.toevla.org/assets/js/toevla-widget.js"
  data-widget-check="#0E5EB8"
  data-widget-link="#0E5EB8"
  data-widget-link-hover="#0F6FD7">
</script>'
@language="html" />

<p>Hieronder vind je een lijst met properties die aanpasbaar zijn:</p>
<ul>
  <li><CodeInline @code='data-widget-font="BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif"'/>: font family</li>
  <li><CodeInline @code='data-bold="700"'/>: bold font gewicht</li>
  <li><CodeInline @code='data-medium="600"'/>: medium font gewicht</li>
  <li><CodeInline @code='data-regular="500"'/>: regular font gewicht</li>
  <li><CodeInline @code='data-check="#0E5EB8"'/>: check/icoon kleur</li>
  <li><CodeInline @code='data-link="#0E5EB8"'/>: link kleur</li>
  <li><CodeInline @code='data-link-hover="#0F6FD7"'/>: link hover kleur</li>
  <li><CodeInline @code='data-error="#D92626"'/>: foutmelding kleur</li>
  <li><CodeInline @code='data-outline="#FFC515"'/>: focus outline kleur</li>
</ul>

<AuHeading @level="3" @skin="3">Vragen of hulp nodig?</AuHeading>
<p>Indien je problemen tegenkomt bij het implementeren van de widget kan je ons contacteren op <a href="mailto:toevla@inter.vlaanderen" class="au-c-link">toevla@inter.vlaanderen</a>.</p>
<p>Bugs of issues met de widget kan je melden op de <a href="https://github.com/lblod/frontend-toevla/issues" target="_blank" rel="noopener noreferrer" class="au-c-link">github pagina</a> van het project.</p>
