{{#each @experience.pointOfInterest.experiences as |experience|}}
  <TreeComponents::Circulation::SingleNode
    @node={{@node}}
    @experience={{experience}}
    @title={{concat "Circuleren - " experience.title}}
    class="au-c-tree__item au-c-tree__item--child">

    <LinkTo class="au-c-tree__edit" @route="experience.show.tree.edit" @models={{array @experience.id child.id}}>
      <AuIcon @icon="pencil" />
      <span class="au-c-tree__edit-label">Aanpassen</span>
    </LinkTo>

  </TreeComponents::Circulation::SingleNode>
{{/each}}