.au-c-tree {
  height: 100%;
  width: 100%;
  background-color: $au-gray-100;
  overflow: auto;
  padding: $au-unit;
  border-right: .1rem solid $au-gray-200;
}

.au-c-tree__list {
  position: relative;
  flex-basis: 100;
  flex-grow: 1;
}

.au-c-tree__item--child .au-c-tree__list {
  padding-left: $au-unit-small + $au-unit-tiny;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $au-unit-small + $au-unit-tiny;
    background-color: $au-gray-200;
  }
}

.au-c-tree__item {
  @include au-font-size($au-h5);
  position: relative;
  margin-bottom: $au-unit-small;
  padding-bottom: $au-unit-small;
  border-bottom: 1px solid $au-gray-200;

  &:last-child {
    border-bottom: 0;
  }
}

.au-c-tree__item--child {
  @include au-font-size($au-h6);
  padding: 0;
  overflow: hidden;
  margin-bottom: $au-unit-tiny;
  border: 1px solid $au-gray-200;
  background-color: $au-white;

  &:last-child {
    border-bottom: 1px solid $au-gray-200;
  }
}

.au-c-tree__item .au-c-tree__item .au-c-tree__item {
  @include au-font-size($au-h6);
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid $au-gray-200;
}

.au-c-tree__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.au-c-tree__item--child .au-c-tree__item-header {
  padding: $au-unit-small;
  flex-direction: column;
  align-items: flex-start;
}

.au-c-tree__item-header + .au-c-tree__list {
  margin-top: $au-unit-tiny;
}

.au-c-tree__item--child .au-c-tree__item-header + .au-c-tree__list {
  margin-top: 0;
}

.au-c-tree__edit {
  @include au-font-size($au-base);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: $au-font;
  transition: color $au-transition, text-decoration $au-transition;
  font-weight: $au-regular;
  text-decoration-color: tint($au-blue-700,70);
  padding: $au-unit-small;
  background-color: $au-gray-100;

  &,
  &:visited {
    color: $au-blue-700;
  }

  &:hover,
  &:focus {
    color: $au-blue-600;
    text-decoration-color: tint($au-blue-600,80);
  }

  &:focus {
    outline: $au-outline;
    outline-offset: -$au-unit-tiny;
  }

  &.active  {
    font-weight: $au-bold;
    color: $au-blue-900;
    text-decoration: none;
  }

  @include mq(medium) {
    height: $au-unit-large + $au-unit - .2rem;
    background-color: transparent;

    .au-c-icon {
      margin-right: $au-unit-small;
    }
  }
}

.au-c-tree__edit-label {
  @include mq($until: medium) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    top: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.au-c-tree__button {
  cursor: default;
  font-size: inherit;
  line-height: inherit;
  font-family: $au-font;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $au-button-radius;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
  border: 0;
  padding: 0;
  margin-right: $au-unit-large;
  color: $au-blue-700;
  text-decoration: underline;
  text-decoration-color: tint($au-blue-700,70);
  transition: color $au-transition;

  .au-c-icon {
    margin-right: $au-unit-tiny/1.5;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    color: $au-blue-600;
    text-decoration-color: tint($au-blue-600,70);
  }

  &:focus {
    outline: $au-outline;
  }

  &[aria-expanded="true"] {
    color: $au-blue-900;
    text-decoration: none;
  }
}

.au-c-tree__uri {
  @include au-font-size(1.3rem,1.2);
  position: relative;
  z-index: 1;
  font-family: $au-font;
  font-weight: $au-regular;
  color: $au-gray-600;
  margin-top: $au-unit-tiny;
  margin-bottom: $au-unit-tiny;
  margin-right: $au-unit-tiny;

  .au-c-tree__item--child & {
    margin-bottom: 0;
  }
}

.au-c-tree-wrapper {
  height: 100%;
  width: 100%;
  background-color: $au-gray-100;
  overflow: auto;
}
