<article>
  <h1>Edit Point of Interest</h1>
  <form {{on "submit" this.submit}}>
    <label>
      Label
      <Input @type="string" @value={{this.model.label}} />
    </label>
    <button type="submit">Save</button>
  </form>

  <LinkTo @route="poi.index">Overview</LinkTo>
  <LinkTo @route="poi.show" @model={{@model}}>Show</LinkTo>
  <ConfirmationButton @onConfirm={{this.delete}}>Delete Point of Interest</ConfirmationButton>
</article>
