<div class="au-c-main-container__content"  id="content">
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
        <AuHeading @skin="2">Locaties</AuHeading>
    </AuToolbarGroup>
    <AuToolbarGroup>
      {{#if this.currentAccount.roleIsValidator}}
        <LinkTo @route="people" class="au-c-button au-c-button--secondary">
          <AuIcon @icon="users" @alignment="left" />
          Gebruikersbeheer
        </LinkTo>
        <LinkTo @route="poi.new" class="au-c-button">
          <AuIcon @icon="add" @alignment="left" />
          Locatie toevoegen
        </LinkTo>
      {{/if}}
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-o-box au-c-theme-gray-100 au-c-body-container au-c-body-container--scroll">
    <ul class="au-o-grid au-o-grid--tiny au-u-padding-bottom">
      {{#each @model as |poi|}}
        <li class="au-o-grid__item">
          <article class="au-o-box au-o-box--small au-c-card au-c-card--link">
            <AuHeading @level="2" @skin="4">
              <LinkTo @route="poi.show.tree" @model={{poi.id}} class="au-c-link au-c-link--secondary au-c-card__link">
                {{poi.label}}
              </LinkTo>
            </AuHeading>
            <AuPill>
              {{poi.id}}
            </AuPill>
          </article>
        </li>
      {{/each}}
    </ul>
  </div>
</div>