<h2>Add a new point of interest</h2>

{{#if (eq this.state "ok")}}
  <form {{on "submit" this.submit}}>
    <label>
      Name: <Input type="text" @value={{this.label}} @placeholder="Museum M" />
    </label>

    <button type="submit">Create</button>
  </form>
{{else}}
  An error occurred.
{{/if}}

<LinkTo @route="poi.index">Overview</LinkTo>