<article>
  <h1>Point of interest: {{@model.label}}</h1>

  <LinkTo @route="poi.index">Overview</LinkTo>
  | <LinkTo  @route="poi.edit" @model={{@model}}>Edit</LinkTo>
  | <LinkTo @route="poi.show.experiences.index" @model={{@model}}>Show experiences</LinkTo>
</article>

{{outlet}}