<div {{on "click" this.login}} role="button">
  <AuIcon @icon="login" @alignment="left" />Aanmelden
</div>
{{#if this.isAuthenticating}}
  ...
{{/if}}
{{#if this.errorMessage}}
  {{this.errorMessage}}
{{/if}}
