<AuHeading @level="2" @skin="5" class="au-u-hidden-visually">
  Kennisboom
</AuHeading>

<div class="au-o-box au-c-body-container au-c-body-container--scroll au-c-theme-gray-100">
  <ul class="au-o-grid au-o-grid--tiny au-u-padding-bottom">
    {{#each @model as |experience|}}
      <li class="au-o-grid__item">
        <article class="au-o-box au-o-box--small au-c-card au-c-card--link">
          <LinkTo class="au-c-link au-c-link--secondary au-c-card__link" @route="experience.edit" @model={{experience}}>{{experience.title}}</LinkTo>
        </article>
      </li>
    {{/each}}
    <li class="au-o-grid__item">
      <LinkTo @route="poi.show.experiences.new" @model={{this.poi}} class="au-c-button au-c-button--secondary au-c-button--block">
        <AuIcon @icon="add" @alignment="left" />
        Event toevoegen
      </LinkTo>
    </li>
  </ul>
</div>