{{page-title "Index"}}

<div class="au-o-box au-c-body-container au-c-body-container--scroll au-c-theme-gray-100 au-u-no-focus" id="panel-3" role="tabpanel" aria-labelledby="tab-3" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="5" class="au-u-hidden-visually">
    Historiek
  </AuHeading>
  <ul class="au-c-list au-c-list--timeline">
    <li class="au-c-list__item">
      <AuPill @skin="success">Gepubliceerd</AuPill> op <strong>29/04/2021 - 12:30</strong> door <strong>Inter</strong>
    </li>
    <li class="au-c-list__item">
      <AuPill @skin="warning">Aanpassing verzonden</AuPill> op <strong>29/04/2021 - 10:30</strong> door <strong>Museum</strong>
    </li>
    <li class="au-c-list__item">
      <AuPill @skin="border">Aangemaakt</AuPill> op <strong>10/04/2021 - 9:30</strong> door <strong>Inter</strong>
    </li>
  </ul>
</div>