{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-2" role="tabpanel" aria-labelledby="tab-2" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="4">
    Ik wil een museum bezoeken en zoek musea met informatie over toegankelijkheid.
  </AuHeading>

  <p>Waar kan ik terecht? Hoe kan ik de informatie raadplegen? Welke informatie kan ik verwachten?
  </p>

  <p class="au-u-margin-top-tiny">
    Bekijk <AuLink @linkRoute="buildings">het overzicht van de gebouwen</AuLink>
  </p>

  <ul class="au-u-margin-top-tiny">
    <li>De musea die beschikken over een widget zijn in deze lijst opgenomen. Telkens als er een locatie online komt, wordt deze aan de lijst toegevoegd.</li>
    <li>Je kan een gebouw naar keuze aanklikken en de toegankelijkheidsinformatie bekijken.</li>
  </ul>
</div>