{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-4" role="tabpanel" aria-labelledby="tab-4" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="4">
    Ik ben de eigenaar of beheerder van een museum en wil een nieuwe tentoonstelling toevoegen aan mijn dossier.
  </AuHeading>

  <p>Welke stappen moet ik doorlopen? Wat is nodig om deze nieuwe informatie te kunnen tonen op de website? Hoe ga ik aan de slag?</p>

  <ol class="au-c-numbered-list">
    <li class="au-c-numbered-list__item">
      <strong>Stap 1</strong> – Laat aan Inter weten je een nieuwe tentoonstelling willen toevoegen.
      <ul>
        <li>
          Dit kan via het inschrijfformulier.
        </li>
      </ul>
    </li>
    <li class="au-c-numbered-list__item">
      <strong>Stap 2</strong> – De museumverantwoordelijke verzamelt de toegankelijkheidsdata over de nieuwe tentoonstelling en voert deze in in de invoerapplicatie.
      <ul>
        <li>Na het invoeren bevestigd de museumverantwoordelijke aan Inter dat het dossier klaar is voor validatie.</li>
      </ul>
    </li>
    <li class="au-c-numbered-list__item">
      <strong>Stap 3</strong> – Inter bekijkt de info, valideert de gegevens en stuurt een bevestiging dat het dossier online komt na x aantal dagen of op de afgesproken datum.
      <ul>
        <li>Het dossier verschijnt automatisch met de aanpassingen in het <AuLink @linkRoute="buildings">gebouw overzicht</AuLink></li>
      </ul>
    </li>
  </ol>
  <p>Als het museum eerder de technische integratie deed op zijn website dan zullen ook daar de gegevens in de widget automatisch een update krijgen.</p>
</div>