{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-4" role="tabpanel" aria-labelledby="tab-4" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="4">
    Ik ben de eigenaar of beheerder van een museum en wil een nieuwe tentoonstelling toevoegen aan mijn dossier.
  </AuHeading>

  <p>Welke stappen moet ik doorlopen? Wat is nodig om deze nieuwe informatie te kunnen tonen op de website? Hoe ga ik aan de slag?</p>

  <ol class="au-c-numbered-list">
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 1</strong> – Laat aan Inter weten je een nieuwe tentoonstelling wilt toevoegen.</p>
      <ul>
        <li>
          Gebruik hiervoor het <AuLink @linkRoute="contact">inschrijfformulier</AuLink>.
        </li>
        <li>Geef aan tegen wanneer je voorziet om de gegevens aan te leveren zo kan Inter de validatie in de planning mee opnemen.</li>
      </ul>
    </li>
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 2</strong> – Informatie verzamelen en invoeren</p>
      <p class="au-u-margin-top-tiny">De museumverantwoordelijke:</p>
      <ul>
        <li>Verzamelt de toegankelijkheidsdata over de nieuwe tentoonstelling.</li>
        <li>Voert de toegankelijkheidsdata in de invoerapplicatie in.</li>
        <li>Bevestigt via mail aan Inter dat het dossier klaar is voor validatie.</li>
      </ul>
      <p class="au-u-margin-top-tiny">Inter controleert de ingevoerde data en verzorgt de afwerking van het dossier.</p>
    </li>
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 3</strong> – Inter valideert de gegevens en laat per mail weten wanneer het dossier online komt.</p>
      <p>Het aangepaste dossier verschijnt daarna in het <AuLink @linkRoute="buildings">gebouwoverzicht</AuLink>.</p>
    </li>
  </ol>
  <p class="au-u-margin-top">Als het museum eerder de technische integratie deed op zijn website dan zullen ook daar de gegevens in de widget automatisch een update krijgen.</p>
</div>