{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-2" role="tabpanel" aria-labelledby="tab-2" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="4">
    Ik wil een museum bezoeken en zoek musea met informatie over toegankelijkheid.
  </AuHeading>

  <p>Waar kan ik terecht? Hoe kan ik de informatie raadplegen? Welke informatie kan ik verwachten?
  </p>

  <p>
    Bekijk het <AuLink @linkRoute="buildings">gebouw overzicht</AuLink>
  </p>
  <ul>
    <li>Al de musea die beschikken over een widget zijn in deze lijst opgenomen.</li>
    <li>Dit is een actieve lijst. Telkens als er een locatie online komt dan wordt deze aan de lijst toegevoegd.</li>
  </ul>
</div>