{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-3" role="tabpanel" aria-labelledby="tab-3" tabindex="0" {{auto-focus}}>
  <AuHeading @level="2" @skin="4">
    Ik ben een ontwikkelaar en wil de widget integreren in een website.
  </AuHeading>

  <p>
    Waar kan ik terecht? Hoe kan ik de informatie integreren?
  </p>
  <ul>
    <li>Al de informatie die hiervoor nodig is kan je raadplegen via de <AuLink @linkRoute="developers.intro">informatie voor ontwikkelaars</AuLink>.</li>
  </ul>
</div>