{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-u-no-focus" id="panel-1" role="tabpanel" aria-labelledby="tab-1" tabindex="0">
  <AuHeading @level="2" @skin="4">
    Ik ben de eigenaar of beheerder van een museum en wil ook een widget met de toegankelijkheidsinformatie over mijn museum?
  </AuHeading>

  <p>Welke stappen moet ik doorlopen? Wat is nodig om een widget te kunnen tonen op de website? Hoe ga ik aan de slag?</p>

  <ol class="au-c-numbered-list">
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 1</strong> – Schrijf je museum in.</p>
      <ul>
        <li>Vul het <AuLink @linkRoute="contact">Inschrijfformulier</AuLink> in.</li>
        <li>
          Dit formulier is voor Inter de basis voor:
          <ul>
            <li>De aanmaak van de accommodatie (locatie).</li>
            <li>De registratie van de museumverantwoordelijke(n) (Max. 2 per locatie).</li>
            <li>De facturatie door Inter.</li>
          </ul>
        </li>
        <li>Je ontvangt via mail een bevestiging van de dossieraanmaak door Inter.</li>
      </ul>
    </li>
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 2</strong> – Informatie verzamelen en invoeren</p>
      <p class="au-u-margin-top-tiny">De museumverantwoordelijke:</p>
      <ul>
        <li>Verzamelt de toegankelijkheidsdata.</li>
        <li>Voert de toegankelijkheidsdata in de invoerapplicatie in.</li>
        <li>Bevestigt via mail aan Inter dat het dossier klaar is voor validatie. Inter controleert de ingevoerde data en verzorgt de afwerking van het dossier.</li>
      </ul>
    </li>
    <li class="au-c-numbered-list__item">
      <p><strong>Stap 3</strong> – Online tonen van de widget</p>
      <ul>
        <li>Het dossier verschijnt -na het door Inter publiceren van de informatie- standaard in <AuLink @linkRoute="buildings">het overzicht van de gebouwen</AuLink>.</li>
        <li>Het museum zorgt zelf voor de technische integratie van de widget op zijn website. Raadpleeg de begeleidende nota betreffende de <AuLink @linkRoute="developers.intro">technische integratie</AuLink>.</li>
      </ul>
    </li>
  </ol>
</div>