<form {{on "submit" this.submit}}>
  <p>
    <AuLabel for="editevent">Naam</AuLabel>
    <AuInput @width="block" id="editevent" @type="string" @value={{@model.title}} />
  </p>

  <AuButtonGroup class="au-u-margin-top-small">
    <AuButton type="submit">Opslaan</AuButton>
  </AuButtonGroup>
</form>

<AuToolbar @border="top" class="au-u-margin-top au-u-padding-top-small">
  <AuToolbarGroup class="au-c-toolbar__group--row">
    <ConfirmationButton @onConfirm={{this.delete}}>
      Event verwijderen
    </ConfirmationButton>
  </AuToolbarGroup>
</AuToolbar>