<div class="au-c-action-sidebar">
  <div class="au-o-box au-c-action-sidebar__header">
    <AuHeading @level="4" @skin="3">
      Eigen parkeerterrein
    </AuHeading>
    <p class="au-c-info-text"><strong>Tree node:</strong> ...</p>
    <p class="au-c-info-text"><strong>Edit type:</strong> ...</p>

    <LinkTo @route="experience.show.tree" @model={{@model.experience.id}} class="au-c-close au-c-close--large">
      <AuIcon @icon="cross" @size="large" />
      <span class="au-u-hidden-visually">Sluiten</span>
    </LinkTo>
  </div>

  <div class="au-o-box au-c-sidebar__content">
    {{outlet}}

    <form action="">
      <AuLabel for="toggle1">Is deze eigenschap aanwezig?</AuLabel>
      <label class="au-c-toggle">
        <input id="toggle1" class="input-checkbox" name="toggle1"  type="checkbox" checked>
        <span class="au-c-toggle__elements">
          <span class="au-c-toggle__switch"></span>
          <span class="au-c-toggle__on-value">Ja</span>
          <span class="au-c-toggle__off-value">Nee</span>
        </span>
      </label>
    </form>
  </div>
</div>