{{page-title "Gebouwen – Toegankelijk Vlaanderen"}}

<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <Navigation />

  <main id="content">
    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--large">
        <AuContent>
          <AuHeading>Gebouwen</AuHeading>
        </AuContent>
        <hr class="au-c-hr">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-4@medium">
            <ul class="au-c-list-navigation">
              <li class="au-c-list-navigation__item">
                <AuNavigationLink @linkRoute="buildings">
                  Musea
                </AuNavigationLink>
              </li>
            </ul>
          </div>
          <div class="au-o-grid__item au-u-3-4@medium">
            <AuContent id="content" class="au-u-margin-bottom-small">
              <p>Er is een toegankelijkheidswijzer beschikbaar voor volgende musea:</p>
            </AuContent>
            <ul class="au-o-grid au-o-grid--tiny">
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://dewereldvankina.stad.gent/toegankelijkheid" class="au-c-link">De wereld van Kina: het Huis</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://huisvanalijn.be/nl/toegankelijkheid" class="au-c-link">Huis van Alijn</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://smak.be/toegankelijkheid" class="au-c-link">S.M.A.K. Gent</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://dewereldvankina.stad.gent/toegankelijkheid" class="au-c-link">De wereld van Kina: de Tuin</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.mskgent.be/nl/toegankelijkheid" class="au-c-link">MSK Gent - Museum voor Schone Kunsten Gent</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.museumdrguislain.be/nl/toegankelijkheid" class="au-c-link">Museum Dr. Guislain</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.gum.gent/nl/toegankelijkheid" class="au-c-link">GUM - Gents Universiteitsmuseum</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.designmuseumgent.be/toegankelijkheid" class="au-c-link">Design Museum Gent</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.industriemuseum.be/nl/toegankelijkheid" class="au-c-link">Industriemuseum</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://historischehuizen.stad.gent/nl/sint-pietersabdij/toegankelijkheid" class="au-c-link">Sint-Pietersabdij</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://historischehuizen.stad.gent/nl/gravensteen/toegankelijkheid" class="au-c-link">Gravensteen</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.stamgent.be/nl_be/bezoek-het-stam/toegankelijkheid" class="au-c-link">STAM - Stadsmuseum Gent</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="http://damiaanmuseum.be/toegankelijkheid/" class="au-c-link">Damiaanmuseum</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://diest.be/museum-voor-religieuze-kunst" class="au-c-link">Museum Voor Religieuze Kunst Diest</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.overijse.be/druif-toegankelijkheid" class="au-c-link">Bezoekerscentrum Dru!f, huis van de tafeldruif</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.hidrodoe.be/plan-je-dag/toegankelijkheid" class="au-c-link">Hidrodoe</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.tenduinen.be/nl/toegankelijkheid" class="au-c-link">Abdijmuseum Ten Duinen</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.hofvanbusleyden.be/toegankelijkheid" class="au-c-link">Museum Hof van Busleyden</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
              <li class="au-o-grid__item">
                <article class="au-c-card">
                  <AuToolbar @border="bottom" @size="small">
                    <AuToolbarGroup>
                      <AuHeading @level="2" @skin="4">
                        <a href="https://www.museumaandeijzer.be/nl/plan-je-bezoek/#toegankelijkheid" class="au-c-link">Museum aan de IJzer</a>
                      </AuHeading>
                    </AuToolbarGroup>
                  </AuToolbar>
                </article>
              </li>
            </ul>
            <AuContent id="content" class="au-u-margin-bottom-small au-u-margin-top">
              <p>De URI’s voor de technische integratie zijn beschikbaar op <LinkTo @route="developers.buildings" class="au-c-link">de pagina voor ontwikkelaars</LinkTo>.</p>
            </AuContent>
          </div>
        </div>
      </div>
    </section>

    <section class="au-o-region-large au-c-theme-gray-200">
      <div class="au-o-layout  au-o-layout--large">
        <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Aan de slag met de toegankelijkheidswijzer</AuHeading>
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="pencil" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="3" @skin="4">
                  Voor musea
                </AuHeading>
                <p class="au-u-margin-top-tiny">Lees hoe je zelf kan starten met opmeten en invoeren van de gegevens van jouw locatie.</p>
                <p>
                  <LinkTo @route="get-started" class="au-c-button ">
                    Aan de slag
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="users" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="3" @skin="4">
                  Voor ontwikkelaars
                </AuHeading>
                <p class="au-u-margin-top-tiny">Hier vind u meer informatie over hoe je de toegankelijkheidswijzer kan integreren in uw website.</p>
                <p>
                  <LinkTo @route="developers.intro" class="au-c-button">
                    Integratie handleiding
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>
        </div>
      </div>
    </section>
  </main>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>
