{{page-title "Aan de slag – Toegankelijk Vlaanderen"}}

<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <Navigation />

  <main id="content">
    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--large">
        <div class="au-o-grid au-o-grid--middle">
          <div class="au-o-grid__item au-u-1-2@medium">
            <AuContent @skin="large">
              <AuHeading>Aan de slag</AuHeading>
              <p class="au-c-intro au-u-italic">
                Is een museum interessant om te bezoeken?<br>
                Zijn de activiteiten toegankelijk?<br>
                Is er een aanbod op maat?
              </p>
              <p class="au-c-intro au-u-margin-top-large">De toegankelijkheidswijzer verzamelt de informatie over toegankelijkheid en geeft die overal op dezelfde manier weer. Bezoekers vinden deze betrouwbare informatie eenvoudig op de website van het museum.</p>
            </AuContent>
          </div>
          <div class="au-o-grid__item au-u-1-2@medium au-u-visible-medium-up">
            <div class="au-c-image au-c-image--transparent">
              <img src="/assets/images/toevla-start.svg" alt="Illustratie van een vrouw die bij een locatie zit.">
            </div>
          </div>
        </div>
        <hr class="au-c-hr au-c-hr--huge">
        <AuContent @skin="large" class="au-u-margin-bottom">
          <h2 class="au-c-heading au-c-heading--3">Een toegankelijkheidswijzer op jouw eigen museumwebsite?</h2>
          <p>Welke stappen moet ik doorlopen? Wat is nodig om een widget te tonen op mijn website? Hoe ga ik aan de slag?</p>
          <p>Bekijk de flyer voor <a href="/Toegankelijkheidswijzer_Flyer-Inter_2024.pdf" download="Toegankelijkheidswijzer-Flyer-2024.pdf" type="application/pdf" target="_blank" rel="noopener noreferrer" class="au-c-link">meer informatie over de kostprijs en de mogelijkheden</a>.</p>
          <ol class="au-c-numbered-list">
            <li class="au-c-numbered-list__item">
              <p><strong>Stap 1</strong> - Schrijf je museum in.</p>
              <ul>
                <li>Vul het <AuLink @linkRoute="subscribe">Inschrijfformulier</AuLink> in.</li>
              </ul>
            </li>
            <li class="au-c-numbered-list__item">
              <p><strong>Stap 2</strong> - Verzamel informatie en voer die in</p>
              <p class="au-u-margin-top-small">Je kan dit als museum helemaal zelf!</p>
              <p class="au-u-margin-top-small">De museumverantwoordelijke:</p>
              <ul>
                <li>verzamelt de toegankelijkheidsdata met behulp van een praktische online handleiding.</li>
                <li>voert de toegankelijkheidsdata in.</li>
                <li>bevestigt via mail aan Inter dat het dossier klaar is om na te kijken.</li>
              </ul>
              <p class="au-u-margin-top-small">Inter controleert de ingevoerde data en werkt het dossier af.</p>
            </li>
            <li class="au-c-numbered-list__item">
              <p><strong>Stap 3</strong> - Online tonen van de widget</p>
              <ul>
                <li>Nadat Inter het dossier goedkeurde, verschijnt het standaard in <AuLink @linkRoute="buildings">het overzicht van de gebouwen</AuLink>.</li>
                <li>Je zet als museum zelf de widget op je museumwebsite. Hoe je dit doet, lees je in <AuLink @linkRoute="developers.intro">de begeleidende nota</AuLink>.</li>
              </ul>
            </li>
            <li class="au-c-numbered-list__item">
              <p><strong>Stap 4</strong> - Nieuwe informatie toevoegen of informatie updaten</p>
              <ul>
                <li>Een nieuwe tentoonstelling? Verbeterde toegankelijkheid? Als museumverantwoordelijke geef je zelf aanpassingen in. Zo blijft de informatie op de website actueel en relevant voor bezoekers.</li>
                <li><strong>Tip:</strong> Wil je info veranderen? Breng Inter vooraf op de hoogte, zodat de nieuwe informatie op het juiste moment online komt.</li>
              </ul>
            </li>
          </ol>
        </AuContent>
      </div>
    </section>

    <section class="au-o-region-large au-u-border-top">
      <div class="au-o-layout au-o-layout--large">
        <AuContent @skin="large" class="au-u-content-center">
          <h2>Zin om aan de slag te gaan?</h2>
          <p>Vul dan het <AuLink @linkRoute="subscribe">inschrijfformulier</AuLink> in en je ontvangt de nodige informatie.</p>
        </AuContent>
      </div>
    </section>

    <section class="au-o-region-large au-c-theme-gray-200">
      <div class="au-o-layout  au-o-layout--large">
        <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Aan de slag met de toegankelijkheidswijzer</AuHeading>
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="sitemap" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="3" @skin="4">
                  Voor bezoekers
                </AuHeading>
                <p class="au-u-margin-top-tiny">Een overzicht van de gebouwen waarvoor er toegankelijkheidsinformatie beschikbaar is.</p>
                <p>
                  <LinkTo @route="buildings" class="au-c-button ">
                    Zoek een gebouw
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>
          <div class="au-o-grid__item au-u-1-2@small">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="users" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="3" @skin="4">
                  Voor ontwikkelaars
                </AuHeading>
                <p class="au-u-margin-top-tiny">Hier vind u meer informatie over hoe je de toegankelijkheidswijzer kan integreren in uw website.</p>
                <p>
                  <LinkTo @route="developers.intro" class="au-c-button">
                    Integratie handleiding
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>
        </div>
      </div>
    </section>
  </main>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>