<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <main id="content">
    <div class="au-o-region-large au-c-hero">
      <div class="au-o-layout au-o-layout--large">
        <div class="au-o-grid au-o-grid--center">
          <div class="au-o-grid__item au-u-1-3@medium au-u-1-4@large au-c-hero__image au-u-visible-large-up">
            <svg width="404px" height="373px" viewBox="0 0 404 373" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
              <g fill="none" transform="matrix(-1 0 0 1 404 48.245)">
                <ellipse cx="304.263" cy="212.699" fill="#FEE539" rx="19.007" ry="38.782"/>
                <path fill="#0E5EB8" d="M302.507282,276.179468 C310.119835,230.505629 302.583925,184.996809 302.506918,184.542823 L301.02614,184.793652 C301.102783,185.245439 308.595417,230.515163 301.025771,275.93304 L302.507282,276.179468 Z"/>
                <polygon fill="#0E5EB8" points="295.017 199.873 296.519 199.873 296.519 219.365 295.017 219.365" transform="rotate(-61.858 295.768 209.619)"/>
                <polygon fill="#0E5EB8" points="304.163 213.476 323.655 213.476 323.655 214.978 304.163 214.978" transform="rotate(-28.158 313.91 214.227)"/>
                <ellipse cx="349.931" cy="151.321" fill="#E6E6E6" rx="37.176" ry="75.853"/>
                <path fill="#0E5EB8" d="M345.79017,275.362985 C360.659553,186.148097 345.940153,97.2581143 345.789801,96.3706735 L344.309023,96.6215022 C344.459006,97.5067525 359.135143,186.157631 344.308655,275.116557 L345.79017,275.362985 Z"/>
                <polygon fill="#0E5EB8" points="332.566 126.233 334.068 126.233 334.068 164.358 332.566 164.358" transform="rotate(-61.858 333.317 145.296)"/>
                <polygon fill="#0E5EB8" points="349.736 153.557 387.861 153.557 387.861 155.059 349.736 155.059" transform="rotate(-28.157 368.798 154.308)"/>
                <path fill="#E6E6E6" d="M263.590598,275.601336 L65.8509317,275.601336 C64.3366691,275.599572 63.1077923,274.372459 63.1077923,272.858197 L63.1077923,147.90989 C63.1077923,146.395599 64.3366413,145.168448 65.8509317,145.16675 L263.590598,145.16675 C265.10486,145.168517 266.333738,146.395628 266.333738,147.90989 L266.333738,272.858197 C266.333738,274.372431 265.104832,275.599503 263.590598,275.601336 L263.590598,275.601336 Z"/>
                <path fill="#FFF" d="M84.0357084,160.307971 C83.3867189,160.307971 82.8600772,160.834612 82.8600772,161.483602 L82.8600772,259.284869 C82.8600772,259.933858 83.3867189,260.4605 84.0357084,260.4605 L245.405822,260.4605 C246.054811,260.4605 246.581453,259.933858 246.581453,259.284869 L246.581453,161.483602 C246.581453,160.834612 246.054811,160.307971 245.405822,160.307971 L84.0357084,160.307971 Z"/>
                <rect width="166.373" height="6.197" x="80.6" y="179.3" fill="#E6E6E6"/>
                <rect width="166.373" height="6.197" x="80.6" y="209.599" fill="#E6E6E6"/>
                <rect width="69.549" height="6.197" x="105.368" y="193.073" fill="#E6E6E6"/>
                <rect width="166.373" height="6.197" x="80.6" y="241.619" fill="#E6E6E6"/>
                <rect width="6.197" height="85.491" x="102.269" y="159.916" fill="#E6E6E6"/>
                <rect width="6.197" height="53.126" x="217.955" y="159.916" fill="#E6E6E6"/>
                <rect width="6.197" height="100.936" x="171.13" y="159.916" fill="#E6E6E6"/>
                <rect width="6.197" height="50.22" x="135.667" y="210.632" fill="#E6E6E6"/>
                <circle cx="174.229" cy="213.482" r="7.919" fill="#0E5EB8"/>
                <polygon fill="#3F3D56" points="448.27 276.417 0 276.417 0 275.417 448.465 275.417"/>
                <circle cx="175.178" cy="117.589" r="48.85" fill="#0E5EB8"/>
                <polygon fill="#0E5EB8" points="175.656 196.999 160.223 170.636 144.79 144.273 175.337 144.089 205.885 143.905 190.77 170.452"/>
                <circle cx="175.57" cy="117.282" r="17.527" fill="#FFF"/>
                <path fill="#2F2E41" d="M174.047937,0.251005952 C174.047937,0.251005952 163.595161,-2.69344462 160.50349,11.5871197 C157.411819,25.867684 159.767384,33.0815763 159.767384,33.0815763 L183.102095,30.3579681 C183.102095,30.3579681 189.72711,4.59405399 174.047937,0.251005952 Z"/>
                <path fill="#FFB9B9" d="M158.409319 62.1031879C158.409319 62.1031879 143.076796 63.6302388 145.807728 69.8203131 148.53866 76.0103874 148.538633 76.5565622 148.538633 76.5565622L162.011127 100.588595 166.380592 96.0370803C166.380592 96.0370803 161.464941 85.2954872 161.464941 81.8363296 161.464941 78.377172 156.367235 72.3691912 156.367235 72.3691912L165.288215 71.6409543 158.409319 62.1031879zM200.425957 69.4562005L205.523663 80.5619141C205.523663 80.5619141 209.346937 84.3851881 213.534335 99.6782961 217.721734 114.971404 218.632036 114.425229 218.632036 114.425229L212.259908 115.699657C212.259908 115.699657 205.159542 99.1321214 202.792742 97.857698 200.425942 96.5832746 197.512982 84.9313746 197.512982 84.9313746L189.138178 74.3718554 191.687028 68.7279675 200.425957 69.4562005z"/>
                <path fill="#2F2E41" d="M194.235895 56.7119354L202.064493 71.27683C202.064493 71.27683 192.233207 66.7252955 190.776706 76.7386478L181.855727 69.8203327C181.855727 69.8203327 169.475594 73.825665 162.011115 72.3691716 162.011115 72.3691716 164.19583 65.4508604 156.367228 62.3558232L174.02712 60.1711086 173.298879 56.3478306 175.119493 52.706607 194.235895 56.7119354zM163.103484 97.3115115C163.103484 97.3115115 158.187834 96.5832707 159.462273 100.952723L162.011123 109.691637C162.011123 109.691637 158.734032 118.612616 163.831737 116.609952 168.929442 114.607288 172.206542 102.227147 172.206542 102.227147 172.206542 102.227147 174.391256 92.7599849 172.206542 92.7599849 170.021827 92.7599849 163.103496 91.3035033 163.831737 92.7599849 164.559978 94.2164665 163.103484 97.3115115 163.103484 97.3115115zM218.085862 111.876379C218.085862 111.876379 211.713737 110.237835 210.257244 112.786686 208.80075 115.335536 209.164882 123.710329 209.164882 123.892395 209.164882 124.074461 211.349597 125.895059 212.077854 125.895059 212.80611 125.895059 217.357613 134.087802 223.547703 131.174819 229.737793 128.261836 218.085862 111.876379 218.085862 111.876379z"/>
                <circle cx="172.206" cy="15.383" r="7.1" fill="#FFB9B9" transform="rotate(-80.783 172.206 15.383)"/>
                <path fill="#FFB9B9" d="M178.032472,16.8406274 C178.032472,16.8406274 179.48895,24.4871795 180.763389,25.5795446 C182.037828,26.6719098 171.114169,28.3104575 171.114169,28.3104575 C171.114169,28.3104575 172.752716,23.0306979 170.750048,20.2997772 C168.74738,17.5688565 178.032472,16.8406274 178.032472,16.8406274 Z"/>
                <path fill="#D0CDE1" d="M197.148866,60.1711047 C195.90903,60.1711047 192.752092,59.6576987 189.212819,58.9968098 C186.150585,58.4251396 182.798822,57.7460519 180.15529,57.1962327 C177.324252,56.6063598 175.301567,56.1657724 175.301567,56.1657724 C175.301567,56.1657724 174.573326,60.7172873 172.206522,60.1711047 C170.167453,59.7013852 164.073897,38.4166651 162.426219,32.534273 C162.178762,31.6516464 162.548467,30.7121365 163.331063,30.2348442 L171.700382,25.1243755 L173.845062,25.9436454 C173.845062,25.9436454 177.468071,23.1435467 179.57086,23.0871125 C181.673649,23.0306783 185.31488,22.4844918 185.31488,22.4844918 C185.31488,22.4844918 189.502279,22.8486161 190.230531,25.9436454 C190.958784,29.0386748 191.322888,48.3371268 194.053805,51.7962844 C196.784722,55.255442 200.608023,60.1711047 197.148866,60.1711047 Z"/>
                <path fill="#FFB9B9" d="M171.660343,70.3664957 C171.660343,70.3664957 171.660343,77.4668651 176.393924,76.3745039 C181.127505,75.2821427 176.758045,68.7279519 176.758045,68.7279519 L171.660343,70.3664957 Z"/>
                <path fill="#FFB9B9" d="M184.768733,71.0947482 C184.768733,71.0947482 183.130185,79.4695528 179.671028,78.1951138 C176.21187,76.9206747 179.671028,69.4561888 179.671028,69.4561888 L184.768733,71.0947482 Z"/>
                <path fill="#000" d="M192.415297,51.2501253 C192.415297,51.2501253 190.632918,55.5030691 189.21283,58.9968098 C186.150597,58.4251396 182.798834,57.7460519 180.155301,57.1962327 C180.345215,56.6934171 180.61175,56.2229971 180.945455,55.801652 C182.219878,54.3451625 181.491641,53.9810421 181.491641,53.9810421 C180.39928,51.7963275 181.309587,48.8833368 181.309587,48.8833368 C179.124872,43.0573947 182.401944,35.7749513 182.401944,35.7749513 L192.415297,51.2501253 Z" opacity=".15"/>
                <path fill="#D0CDE1" d="M182.948119,35.7749513 C182.948119,35.7749513 179.671028,43.0573829 181.855762,48.8833368 C181.855762,48.8833368 180.945455,51.7963079 182.037812,53.9810421 C182.037812,53.9810421 182.766053,54.3451625 181.49163,55.801652 C180.217206,57.2581414 179.124841,62.355835 180.035148,63.448204 C180.945455,64.5405731 178.760725,66.543249 179.306907,67.6356024 C179.85309,68.7279558 178.396604,70.1844531 178.396604,70.1844531 C178.396604,70.1844531 183.858426,71.2768143 184.768733,72.9153581 C184.768733,72.9153581 185.86109,71.6409347 185.314915,70.1844531 C184.768741,68.7279715 185.132861,68.1817771 185.679036,67.271482 C186.225211,66.3611869 187.86375,64.3585109 188.04582,63.448204 C188.22789,62.5378971 192.961471,51.2501528 192.961471,51.2501528 L190.741488,30.6798245 L182.948119,35.7749513 Z"/>
                <path fill="#D0CDE1" d="M164.013787,30.677246 L163.673638,30.7390881 C162.694571,30.9166299 161.985101,31.7726745 161.992332,32.7676828 C162.005351,34.5956247 162.108332,37.8396496 162.55729,42.329146 C163.285531,49.6115776 165.834382,60.5352212 166.380568,61.6275942 C167.247953,63.5605827 168.220395,65.4446916 169.293539,67.271482 C170.932083,70.0023988 171.296215,69.0920958 170.932083,70.366527 C170.705795,71.0834366 170.919344,71.8664468 171.47827,72.3692069 C171.47827,72.3692069 174.755361,68.7279832 178.032464,70.7306592 C178.266742,70.2158355 178.39077,69.6577087 178.396585,69.0921154 C178.396585,68.1818085 178.942767,67.2715016 178.032464,66.7253151 C177.122161,66.1791286 178.578651,63.812344 177.122157,62.5379206 C175.665664,61.2634973 175.483614,61.4455594 175.665664,60.1711243 C175.750661,59.3045967 175.625769,58.4303423 175.301547,57.6222736 L164.013787,30.677246 Z"/>
                <path fill="#2F2E41" d="M174.861062,6.26326999 C174.861062,6.26326999 171.916615,14.0660517 164.702719,17.3049391 L163.524948,10.3854914 L174.861062,6.26326999 Z"/>
                <ellipse cx="179.125" cy="12.653" fill="#FFB9B9" rx="1.001" ry="1.912"/>
              </g>
            </svg>
          </div>
          <div class="au-o-grid__item au-u-2-3@medium au-u-2-4@large au-c-hero__usp">
            <AuHeading @skin="1" class="au-u-margin-bottom">Toegankelijk Vlaanderen</AuHeading>
            <p class="au-c-intro">
              Toegankelijk Vlaanderen helpt u om de toegankelijkheid van uw locatie beter in de verf zetten en om de burgers <strong>correct te informeren</strong> over de status van de toegankelijkheid van uw gebouw.
            </p>
            <p class="au-c-para">
              We verzamelen informatie over uw gebouw en bieden deze aan als een makkelijk te integreren <strong>widget</strong> of als <strong>gelinkte open data</strong> via de API.
            </p>
            <p class="au-c-para au-u-margin-top">
              <LinkTo @route="buildings" class="au-c-button au-c-button--large au-u-margin-bottom-small">
                <AuIcon @icon="arrow-right" @size="large" @alignment="left" /> Zoek een gebouw
              </LinkTo>
            </p>
          </div>
          <div class="au-o-grid__item au-u-1-3@medium au-u-1-4@large au-c-hero__image au-u-visible-medium-up">
            <svg width="501px" height="385px" viewBox="0 0 501 385" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
              <g fill="none" transform="translate(0 -2.75)">
                <path fill="#F2F2F2" d="M306.041785,114.019066 C238.157133,-70.3220704 145.105936,-33.2298846 131.143398,240.557113 C127.469639,312.594743 205.037444,372.901211 299.948556,375.11616 C394.859669,377.331109 473.164349,320.678052 474.846948,248.578064 C476.529546,176.478077 331.707271,183.713839 306.041785,114.019066 Z"/>
                <rect width="247.399" height="101.552" x="159.891" y="129.318" fill="#FEE539"/>
                <circle cx="443.142" cy="285.009" r="11.841" fill="#FEE539" opacity=".4"/>
                <path fill="#3F3D56" d="M408.414992 375.970448L407.334648 375.949348C407.752486 363.937329 409.034133 351.970945 411.169659 340.142897 415.841301 314.819161 423.609441 298.187768 434.258325 290.710813L434.87868 291.594923C410.002807 309.060845 408.427659 375.303146 408.414992 375.970448zM421.919296 375.71197L420.838952 375.690871C420.862179 374.49447 421.537395 346.297905 432.637808 338.504446L433.258164 339.388557C422.605596 346.867619 421.924574 375.424474 421.919296 375.71197z"/>
                <circle cx="441.025" cy="286.291" r="5.402" fill="#0E5EB8"/>
                <circle cx="438.35" cy="332.746" r="5.402" fill="#0E5EB8"/>
                <path fill="#0E5EB8" d="M419.40143,294.931162 C420.416608,301.415388 417.770704,307.215017 417.770704,307.215017 C417.770704,307.215017 413.478879,302.501583 412.463707,296.017334 C411.448534,289.533086 414.094432,283.733479 414.094432,283.733479 C414.094432,283.733479 418.386257,288.446913 419.40143,294.931162 Z"/>
                <path fill="#3F3D56" d="M437.041232 310.629926C430.833034 312.759393 424.669399 311.188572 424.669399 311.188572 424.669399 311.188572 428.571182 306.165203 434.779359 304.035736 440.987536 301.90627 447.151187 303.477096 447.151187 303.477096 447.151187 303.477096 443.249404 308.500443 437.041232 310.629926zM437.257593 351.819339C434.447816 352.701873 431.455545 352.831077 428.580154 352.194024 432.30963 347.445772 438.479306 345.32952 444.338062 346.788927 442.459078 349.056768 440.017497 350.791422 437.257593 351.819339z"/>
                <rect width="431.057" height="1.08" y="375.097" fill="#3F3D56"/>
                <path fill="#3F3D56" d="M474.811334,231.410853 L159.350789,231.410853 L159.350789,108.251599 L474.811334,108.251599 L474.811334,231.410853 Z M160.431133,230.330508 L473.73099,230.330508 L473.73099,109.331943 L160.431133,109.331943 L160.431133,230.330508 Z"/>
                <path fill="#0E5EB8" d="M371.098278,176.720479 C371.098278,217.403681 346.916056,231.607756 317.081062,231.607756 C316.389992,231.607756 315.698956,231.597801 315.012861,231.58287 C313.630723,231.553042 312.258523,231.488438 310.906256,231.393978 C283.979673,229.489817 263.063845,214.554894 263.063845,176.720479 C263.063845,137.573538 313.088811,88.1700556 316.857317,84.5059112 C316.857286,84.5045823 316.8578,84.5032986 316.85874,84.5023587 C316.859679,84.5014188 316.860963,84.5009048 316.862292,84.5009362 C317.006491,84.3567696 317.081062,84.2871576 317.081062,84.2871576 C317.081062,84.2871576 371.098278,136.042252 371.098278,176.720479 Z"/>
                <path fill="#EBE9FF" d="M315.112285,225.383212 L334.869704,197.780479 L315.062546,228.415917 L315.012851,231.58287 C313.630712,231.553042 312.258513,231.488438 310.906246,231.393978 L313.034103,190.695846 L313.019205,190.377684 L313.054008,190.322976 L313.257837,186.474902 L293.400994,155.764867 L313.317482,183.591334 L313.367216,184.406697 L314.973056,153.656883 L297.974918,121.922724 L315.18187,148.262632 L316.857322,84.5059112 L316.862297,84.2871414 L316.862297,84.50092 L316.583887,134.774468 L333.507481,114.843017 L316.514281,139.104807 L316.066845,166.637922 L331.87178,140.213472 L316.002214,170.689819 L315.753632,185.997617 L338.687948,149.217175 L315.664136,191.337197 L315.112285,225.383212 Z"/>
                <path fill="#3F3D56" d="M220.390244,82.3233347 C216.511969,82.3233347 213.368006,79.1793716 213.368006,75.3010965 C213.368006,71.4228215 216.511969,68.2788584 220.390244,68.2788584 C224.268519,68.2788584 227.412482,71.4228215 227.412482,75.3010965 C227.408189,79.1775921 224.266739,82.3190419 220.390244,82.3233347 Z M220.390244,69.3592027 C217.108627,69.3592027 214.44835,72.0194792 214.44835,75.3010965 C214.44835,78.5827139 217.108627,81.2429904 220.390244,81.2429904 C223.671861,81.2429904 226.332138,78.5827139 226.332138,75.3010965 C226.328432,72.0210156 223.670325,69.3629089 220.390244,69.3592027 Z"/>
                <circle cx="355.433" cy="260.58" r="4.321" fill="#3F3D56"/>
                <circle cx="52.397" cy="133.64" r="4.321" fill="#3F3D56"/>
                <path fill="#3F3D56" d="M281.429699,280.026348 L267.385222,280.026348 L267.385222,265.981871 L281.429699,265.981871 L281.429699,280.026348 Z M268.465567,278.946003 L280.349354,278.946003 L280.349354,267.062216 L268.465567,267.062216 L268.465567,278.946003 Z"/>
                <circle cx="474.271" cy="108.792" r="27.009" fill="#0E5EB8"/>
                <polygon fill="#FFF" points="469.612 120.878 457.995 109.261 461.253 106.002 469.623 114.372 487.289 96.705 490.548 99.964"/>
                <path fill="#F2F2F2" d="M72.9232425,287.048586 C48.4602768,287.048586 28.6291248,306.879738 28.6291248,331.342703 C28.6291248,355.805669 48.4602768,375.636821 72.9232425,375.636821 C97.3862082,375.636821 117.21736,355.805669 117.21736,331.342703 C117.21736,306.879738 97.3862082,287.048586 72.9232425,287.048586 Z M75.6241033,335.123909 C70.8508417,335.123909 66.9813486,331.254416 66.9813486,326.481154 C66.9813486,321.707892 70.8508417,317.838399 75.6241033,317.838399 C80.3973649,317.838399 84.266858,321.707892 84.266858,326.481154 C84.266858,331.254416 80.3973649,335.123909 75.6241033,335.123909 Z"/>
                <path fill="#2F2E41" d="M119.881046,255.607125 C118.903988,256.671102 100.928674,273.77325 100.928674,273.77325 C100.928674,273.77325 102.714942,285.710001 121.947416,287.191342 L154.001534,289.660243 C154.001534,289.660243 160.060176,311.894329 167.263733,318.999742 C174.467291,326.105156 171.16147,326.501518 173.864864,329.964697 C176.568258,333.427876 172.773911,334.356216 176.877707,334.692646 C180.981503,335.029076 189.460342,330.067362 189.552506,326.229563 C189.644671,322.391764 187.250725,320.193377 186.186753,319.216314 C185.122781,318.23925 182.424638,308.897254 180.806946,306.921406 C179.189255,304.945559 173.065425,281.180696 173.065425,281.180696 C173.065425,281.180696 166.952837,269.683763 158.479238,268.766642 C150.005638,267.849522 140.578067,263.727992 140.578067,263.727992"/>
                <path fill="#000" d="M119.881046,255.607125 C118.903988,256.671102 100.928674,273.77325 100.928674,273.77325 C100.928674,273.77325 102.714942,285.710001 121.947416,287.191342 L154.001534,289.660243 C154.001534,289.660243 160.060176,311.894329 167.263733,318.999742 C174.467291,326.105156 171.16147,326.501518 173.864864,329.964697 C176.568258,333.427876 172.773911,334.356216 176.877707,334.692646 C180.981503,335.029076 189.460342,330.067362 189.552506,326.229563 C189.644671,322.391764 187.250725,320.193377 186.186753,319.216314 C185.122781,318.23925 182.424638,308.897254 180.806946,306.921406 C179.189255,304.945559 173.065425,281.180696 173.065425,281.180696 C173.065425,281.180696 166.952837,269.683763 158.479238,268.766642 C150.005638,267.849522 140.578067,263.727992 140.578067,263.727992" opacity=".1"/>
                <path fill="#A0616A" d="M150.973934,186.643939 C150.973934,186.643939 157.719642,168.314509 162.336834,174.154818 C166.954026,179.995127 154.90749,189.585781 154.90749,189.585781 L150.973934,186.643939 Z"/>
                <path fill="#575A89" d="M115.439335,196.212154 L119.280029,194.587046 C119.280029,194.587046 126.252901,201.903845 129.022034,203.264912 C131.791167,204.625978 139.355954,207.920202 140.361512,208.46153 C141.367069,209.002858 152.753061,188.858715 150.030178,185.966211 C150.030178,185.966211 155.126627,187.803591 157.446952,187.107255 C157.446952,187.107255 151.654719,215.189618 150.773325,218.995147 C149.891932,222.800676 147.834562,223.249472 143.998189,223.389058 C140.161816,223.528644 116.864428,216.693392 116.864428,216.693392 L115.439335,196.212154 Z"/>
                <path fill="#2F2E41" d="M174.699484,332.287351 C174.699484,332.287351 175.886404,336.095527 175.357376,336.705619 C174.828348,337.315711 173.279669,347.729993 179.642562,347.048193 C186.005455,346.366393 189.065325,344.316829 190.676291,344.431161 C192.287258,344.545494 216.194403,336.203799 215.007482,332.395612 C213.820562,328.587426 201.867006,332.758289 201.867006,332.758289 C201.867006,332.758289 188.287931,330.175451 185.099224,327.196677 C181.910518,324.217903 174.699484,332.287351 174.699484,332.287351 Z"/>
                <path fill="#000" d="M174.699484,332.287351 C174.699484,332.287351 175.886404,336.095527 175.357376,336.705619 C174.828348,337.315711 173.279669,347.729993 179.642562,347.048193 C186.005455,346.366393 189.065325,344.316829 190.676291,344.431161 C192.287258,344.545494 216.194403,336.203799 215.007482,332.395612 C213.820562,328.587426 201.867006,332.758289 201.867006,332.758289 C201.867006,332.758289 188.287931,330.175451 185.099224,327.196677 C181.910518,324.217903 174.699484,332.287351 174.699484,332.287351 Z" opacity=".1"/>
                <path fill="#2F2E41" d="M162.510159,337.891005 C162.510159,337.891005 166.348109,354.612948 169.163503,354.442523 C171.978896,354.272099 191.854482,344.599339 194.299998,342.683515 C197.440019,340.223604 197.315872,335.876747 193.711616,336.789767 C190.10736,337.702788 179.913015,336.883876 178.180283,335.043191 L173.724684,330.310008 L162.510159,337.891005 Z"/>
                <path fill="#2F2E41" d="M123.163068,244.98613 C122.11125,245.976266 90.1232966,273.112387 90.1232966,273.112387 C90.1232966,273.112387 92.7417325,290.655164 111.815638,293.530652 C130.889544,296.406139 141.900851,292.815404 141.900851,292.815404 C141.900851,292.815404 146.327184,315.431095 152.995156,323.041359 C159.663127,330.651623 156.33725,330.806631 158.781739,334.457158 C161.226229,338.107685 157.374434,338.757749 161.442919,339.391631 C165.511404,340.025512 174.328494,335.693266 174.699398,331.872315 C175.070301,328.051364 172.842502,325.684773 171.852372,324.632955 C170.862241,323.581137 168.850343,314.067727 167.380562,311.979497 C165.91078,309.891268 161.530719,285.744124 161.530719,285.744124 C161.530719,285.744124 156.270047,273.833263 147.885548,272.302588 C139.50105,270.771913 130.398015,265.975962 130.398015,265.975962"/>
                <circle cx="93.718" cy="171.03" r="15.168" fill="#A0616A"/>
                <path fill="#A0616A" d="M85.7677641,180.498151 C85.7677641,180.498151 88.0426182,189.764043 84.5779377,194.513458 C81.1132572,199.262873 107.751167,197.001848 107.751167,197.001848 C107.751167,197.001848 100.541073,181.966372 103.201464,178.470064 C105.861855,174.973757 85.7677641,180.498151 85.7677641,180.498151 Z"/>
                <path fill="#575A89" d="M119.817036,195.067043 C123.034966,198.485452 121.938459,217.868574 121.938459,217.868574 L119.882661,235.178932 C119.882661,235.178932 122.342573,238.318952 121.538289,239.572055 C120.734005,240.825157 119.419226,242.062788 121.956247,242.650404 C124.493269,243.238019 130.340746,244.181079 128.469217,246.93479 C127.857893,247.714929 127.203363,248.460223 126.508699,249.167171 C125.912231,249.798092 125.202925,250.53029 124.399014,251.34656 C122.517535,253.246653 120.124632,255.583514 117.469874,258.047871 C116.717955,258.750732 115.947142,259.459811 115.157435,260.175107 C105.02945,269.337135 92.4352388,279.035218 89.8294969,274.380922 C85.4664291,266.584806 82.4343401,265.471322 82.634825,258.834956 C82.8353099,252.19859 77.2183566,235.167453 77.2183566,235.167453 C77.2183566,235.167453 70.6875995,206.101264 79.8910205,197.437605 L81.3299095,195.13578 C82.6998105,192.941083 85.3200944,191.868818 87.8355702,192.473552 C92.3276419,193.546874 99.2139566,195.029695 102.19749,194.79027 C106.807319,194.418577 105.796689,192.523048 105.796689,192.523048 C105.796689,192.523048 116.599101,191.648628 119.817036,195.067043 Z"/>
                <path fill="#A0616A" d="M134.03911,257.066627 C134.03911,257.066627 152.803794,261.721128 150.050893,268.280363 C147.297992,274.839598 131.054119,262.852422 131.054119,262.852422 L134.03911,257.066627 Z"/>
                <path fill="#2F2E41" d="M85.3238074,176.579332 C85.6973149,176.126846 85.3279181,175.465837 85.0027399,174.977457 C83.2613815,172.362121 82.9288407,168.640697 84.8447125,166.150352 C85.5998996,165.222837 86.5443674,164.467202 87.6149909,163.93395 C89.1179443,163.137319 90.7586661,162.633731 92.4497425,162.450016 C93.3494019,162.436827 94.2393117,162.261527 95.0767618,161.932531 C95.605747,161.664125 98.1017529,160.790002 98.6374902,160.535343 C99.8153627,159.975444 101.454007,160.217409 102.208612,159.153718 C102.930552,158.136077 102.25639,156.742163 101.555003,155.710256 C99.9570984,153.359361 95.9163784,151.41096 93.1416274,150.7939 C91.0359714,150.325641 88.8384484,150.984041 86.8871143,151.903473 C84.6375862,153.019366 82.5036162,154.354434 80.5161995,155.889285 C77.7865529,157.911641 75.0973706,160.152777 73.4579751,163.128224 C71.8185796,166.10367 71.4235247,169.979044 73.2755374,172.827015 C73.6613283,173.420275 74.1330931,173.955802 74.4943224,174.564328 C75.3755323,176.048823 75.5345482,177.844204 76.1571614,179.454366 C77.0942505,181.833982 78.9943194,183.706086 81.3875675,184.607792 C83.2845441,185.309168 85.6176233,185.502922 86.7383293,187.186504 L87.2613078,183.67627 C87.5423371,182.764115 87.1479341,181.779593 86.3148721,181.313746 L83.6280558,179.050603 C83.0926285,178.68638 82.6860709,178.16219 82.4665127,177.552981 C81.8853523,175.128543 84.7010429,177.333769 85.3238074,176.579332 Z"/>
                <path fill="#000" d="M112.226131,243.378367 L124.399014,251.346555 C121.985114,253.787533 118.72437,256.946314 115.157435,260.175102 C111.778739,258.35625 108.333089,256.387166 105.25051,254.408623 C93.9727201,247.170046 84.3027146,228.994538 79.9704906,220.177448 C75.6382666,211.360359 79.1646294,204.569006 79.1646294,204.569006 C82.0344531,203.297635 85.0712918,202.443056 88.1829873,202.031202 C93.8291963,201.179842 112.226131,243.378367 112.226131,243.378367 Z" opacity=".1"/>
                <path fill="#000" d="M113.834699,240.872168 L126.508699,249.167144 C125.912231,249.798065 125.202925,250.530263 124.399014,251.346533 C122.517535,253.246626 120.124632,255.583487 117.469874,258.047844 C113.869573,256.125166 110.154663,254.017717 106.859083,251.902424 C95.5812934,244.663853 85.9112879,226.488339 81.5790639,217.671249 C77.2468399,208.85416 88.9032583,212.016538 88.9032583,212.016538 C88.9032583,212.016538 82.854513,209.279037 88.500722,208.427699 C94.146931,207.576361 113.834699,240.872168 113.834699,240.872168 Z" opacity=".1"/>
                <path fill="#575A89" d="M79.7213794,203.052943 C79.7213794,203.052943 76.1950167,209.84429 80.5272461,218.66138 C84.8594754,227.478469 94.5294755,245.653983 105.807266,252.89256 C117.085056,260.131137 133.220187,267.260967 133.220187,267.260967 C133.220187,267.260967 134.750868,258.876468 137.334139,257.932598 L112.782871,241.862304 C112.782871,241.862304 94.3859518,199.6638 88.7397428,200.515165 C85.6280468,200.92701 82.5912063,201.781581 79.7213794,203.052943 L79.7213794,203.052943 Z"/>
                <path fill="#3F3D56" d="M75.6241033,376.176993 C55.5240126,376.176993 37.4031062,364.068991 29.7111345,345.498928 C22.0191628,326.928866 26.2709279,305.553799 40.4838383,291.340889 C54.6967488,277.127979 76.0718152,272.876213 94.6418777,280.568185 C113.21194,288.260157 125.319943,306.381063 125.319943,326.481154 C125.288844,353.914516 103.057466,376.145894 75.6241033,376.176993 L75.6241033,376.176993 Z M75.6241033,277.865659 C48.7745068,277.865659 27.0086083,299.631557 27.0086083,326.481154 C27.0086083,353.33075 48.7745068,375.096649 75.6241033,375.096649 C102.4737,375.096649 124.239598,353.33075 124.239598,326.481154 C124.209181,299.644167 102.46109,277.896076 75.6241033,277.865659 Z"/>
                <path fill="#3F3D56" d="M75.6241033,335.664081 C70.5525129,335.664081 66.4411765,331.552744 66.4411765,326.481154 C66.4411765,321.409563 70.5525129,317.298227 75.6241033,317.298227 C80.6956937,317.298227 84.8070301,321.409563 84.8070301,326.481154 C84.801374,331.5504 80.693349,335.658425 75.6241033,335.664081 L75.6241033,335.664081 Z M75.6241033,318.378571 C71.1491706,318.378571 67.5215208,322.006221 67.5215208,326.481154 C67.5215208,330.956087 71.1491706,334.583736 75.6241033,334.583736 C80.099036,334.583736 83.7266858,330.956087 83.7266858,326.481154 C83.7217084,322.008285 80.0969727,318.383549 75.6241033,318.378571 L75.6241033,318.378571 Z"/>
                <polygon fill="#3F3D56" points="74.544 277.325 73.463 277.325 73.463 221.688 45.374 221.688 45.374 220.607 74.544 220.607"/>
                <rect width="24.057" height="1.08" x="114.767" y="295.151" fill="#3F3D56"/>
                <rect width="55.098" height="1.08" x="72.923" y="257.879" fill="#3F3D56"/>
                <polygon fill="#3F3D56" points="167.185 359.064 138.333 295.916 139.316 295.467 167.722 357.639 193.7 345.975 194.143 346.96"/>
                <ellipse cx="48.075" cy="221.148" fill="#3F3D56" rx="15.125" ry="2.161"/>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--large">
        <div class="au-o-grid au-o-grid--middle au-o-grid--reverse">
          <div class="au-o-grid__item au-u-1-2@medium">
            <AuContent @skin="large">
              <h2 class="au-c-heading au-c-heading--3">Widget</h2>
              <p>U kan onze widget makkelijk integreren in uw website. Zo kan u de bezoekers steeds de meest actuele toegankelijkheidsinformatie meegeven.</p>
              <ul class="au-u-margin-top-small">
                <li>We verzamelen informatie rond een vast aantal punten en geven deze weer in een overzichtelijke lijst.</li>
                <li>We tonen foto’s die de toegankelijkheid van de locatie illustreren.</li>
              </ul>
              <p>
                <LinkTo @route="developers.intro" class="au-c-link">
                  Lees meer over hoe u deze widget kan integreren
                </LinkTo>
              </p>
            </AuContent>
          </div>
          <div class="au-o-grid__item au-u-1-2@medium">
            <div class="au-c-image au-c-image--transparent">
              <img src="/assets/images/toevla-mockup.png" alt="Overzicht van de widget met een detail van parkeren en een foto waarop je de ingang ziet van een gebouw.">
            </div>
          </div>
        </div>
        <hr class="au-c-hr au-c-hr--huge">
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-2@small">
            <AuContent>
              <h2 class="au-c-heading au-c-heading--3">Invoerapplicatie</h2>
              <p class="au-u-margin-top-small">In de toekomst zal u ook rechstreeks uw gebouw kunnen beheren in onze invoerapplicatie. Zo kan u er steeds voor zorgen dat onze informatie overal up to date is.</p>
            </AuContent>
            <div class="au-c-image au-u-margin-top">
              <img src="/assets/images/toevla-mockup-entry.png" alt="Screenshot van de invoerapplicatie">
            </div>
          </div>
          <div class="au-o-grid__item au-u-1-2@small">
            <AuContent>
              <h2 class="au-c-heading au-c-heading--3">Gelinkte open data</h2>
              <p class="au-u-margin-top-small">We delen onze informatie als gelinkte open data. Zo kan deze informatie ook gebruikt worden in andere websites (vb. Uit in Vlaanderen) of kunnen hier nieuwe applicaties mee gebouwd worden.</p>
            </AuContent>
            <div class="au-c-image au-u-margin-top">
              <img src="/assets/images/toevla-mockup-data.svg" alt="Illustratie die data blokken data toont die op verschillende plaatsen gebruikt worden">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="au-o-region-large au-c-theme-gray-200">
      <div class="au-o-layout  au-o-layout--large">
        <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Integreer informatie over jouw toegankelijk gebouw in je website.</AuHeading>
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="sitemap" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="2" @skin="4">
                  Gebouwen
                </AuHeading>
                <p class="au-u-margin-top-tiny">Een overzicht van de gebouwen waarvoor er toegankelijkheidsinformatie beschikbaar is.</p>
                <p>
                  <LinkTo @route="buildings" class="au-c-button">
                    Zoek een gebouw
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>
          <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="users" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="2" @skin="4">
                  Voor ontwikkelaars
                </AuHeading>
                <p class="au-u-margin-top-tiny">Hier vind u meer informatie over hoe u de widget kan integreren in uw website.</p>
                <p>
                  <LinkTo @route="developers.intro" class="au-c-button au-c-button--secondary">
                    Handleiding
                  </LinkTo>
                </p>
              </AuContent>
            </AuCard>
          </div>

          <div class="au-o-grid__item au-u-1-2@small au-u-1-3@medium">
            <AuCard class="au-u-text-center">
              <AuBadge @icon="export" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
              <AuContent>
                <AuHeading @level="2" @skin="4">
                  API
                </AuHeading>
                <p class="au-u-margin-top-tiny">Gebruik onze open en gelinkte data om uw eigen applicatie of website te bouwen.</p>
                <p>
                  <AuPill class="au-c-faded">Informatie over de API is binnenkort beschikbaar.</AuPill>
                </p>
              </AuContent>
            </AuCard>
          </div>
        </div>
      </div>
    </section>
  </main>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>
