<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar__breadcrumbs">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="login" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Home
          </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong>Handleiding testfase</strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>

  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--large">
      <AuContent>
        <AuHeading>Handleiding testfase</AuHeading>
      </AuContent>
      <hr class="au-c-hr">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-3-5@medium">
          <AuContent @skin="large">
            <p class="au-c-intro">Bedankt voor je interesse en deelname aan de eerste testfase van Toegankelijk Vlaanderen.</p>
            <p><em>Is een museum interessant om te bezoeken? Zijn de activiteiten toegankelijk voor mij? Is er een aanbod op maat?</em>  Het is niet altijd gemakkelijk om die informatie op een website te vinden. </p>
            <p>Het agentschap Binnenlands Bestuur en Inter willen daar verandering in brengen. Het doel? Informatie aanbieden over de toegankelijkheid in Vlaanderen. Dat willen we even gebruiksvriendelijk doen zoals websites als Booking.com of Tripadvisor. Samen met de Stad Gent gaan we van start met de toegankelijkheid van de Gentse musea. </p>
            <p>Deel je mening over onze nieuwe online toepassing van <strong>3 december tot 24 december 2020</strong>.</p>
          </AuContent>
        </div>
        <div class="au-o-grid__item au-u-2-5@medium au-u-visible-medium-up">
          <div class="au-c-image au-c-image--transparent">
            <img src="/assets/images/handleiding.svg" alt="Illustratie van een vrouw die luistert met daarnaast een tekstballon waar een vraagteken in staat">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="au-o-region-large au-u-border-top">
    <div class="au-o-layout au-o-layout--large">
      <div class="au-o-grid">
        <div class="au-o-grid__item au-u-1-2@small">
          <AuContent>
            <h2 class="au-c-heading au-c-heading--3">Wat verwachten we van jou? </h2>
            <ul class="au-u-margin-top-small">
              <li>Je eerlijke en constructieve mening over Toegankelijk Vlaanderen.</li>
              <li>Een inzicht in jouw noden, ervaringen en prioriteiten.</li>
              <li>Een beetje geduld, de toepassing is immers nog in volle opbouw.</li>
            </ul>
          </AuContent>
        </div>
        <div class="au-o-grid__item au-u-1-2@small">
          <AuContent>
            <h2 class="au-c-heading au-c-heading--3">Wat mag je van ons verwachten?</h2>
            <ul class="au-u-margin-top-small">
              <li>We lezen de reacties grondig en behandelen de informatie vertrouwelijk.</li>
              <li>We verwerken wat we kunnen in onze toekomstige applicatie.</li>
              <li>We delen de resultaten in februari 2021. Wil je er graag bij zijn? <a href="https://gelijkekansen.us8.list-manage.com/subscribe?u=2e52b215088b83b2fee354f5c&id=f5c2edfb6d" target="_blank" rel="noopener noreferrer" class="au-c-link">Laat het ons weten</a>!</li>
            </ul>
          </AuContent>
        </div>
      </div>
    </div>
  </section>

  <section class="au-o-region-large au-u-border-top">
    <div class="au-o-layout au-o-layout--large">
      <AuContent>
        <h2>Instructies</h2>
        <p>Tijdens deze testfase geef je jouw mening over onze toegankelijkheidswidget. Een widget is een herbruikbaar blok met een specifieke functie op een website. Onze widget toont informatie over toegankelijkheid.</p>
        <p><strong>De testfase bestaat uit twee onderdelen:</strong></p>
        <ul class="au-u-margin-top-small">
          <li>Testen van widgets voor musea</li>
          <li>Invullen van een enquête</li>
        </ul>
      </AuContent>
      <hr class="au-c-hr">
      <AuContent>
        <h3>Ga aan de slag!</h3>
        <div class="au-c-numbered-list">
          <div class="au-c-numbered-list__item">
            <h4 class="au-c-heading au-c-heading--4">Test de widgets van je favoriete musea!</h4>
            <ul class="au-u-margin-top-small au-u-margin-bottom">
              <li>Test de aangeboden informatie alsof je een bezoek plant aan de musea.</li>
              <li>Bekijk de webpagina’s van de musea. Zo zie je hoe ze de informatie zullen integreren op hun website.</li>
              <li>Test zo veel widgets als jij graag wil.</li>
            </ul>
            <div class="au-o-grid au-o-grid--small">
              <div class="au-o-grid__item au-u-1-2@medium">
                <h5 class="au-c-heading au-c-heading--6">Widgets:</h5>
                <ul class="au-u-margin-top-small">
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/design-museum-gent/" target="_blank" rel="noopener noreferrer" class="au-c-link">Design Museum Gent</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/de-wereld-van-kina-tuin/" target="_blank" rel="noopener noreferrer" class="au-c-link">De Wereld van Kina - De Tuin</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/de-wereld-van-kina-huis/" target="_blank" rel="noopener noreferrer" class="au-c-link">De Wereld van Kina - Het Huis</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/gum/" target="_blank" rel="noopener noreferrer" class="au-c-link">GUM - Gents Universiteitsmuseum</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/gravensteen/" target="_blank" rel="noopener noreferrer" class="au-c-link">Gravensteen </a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/huis-van-alijn/" target="_blank" rel="noopener noreferrer" class="au-c-link">Huis van Alijn</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/industriemuseum-gent/" target="_blank" rel="noopener noreferrer" class="au-c-link">Industriemuseum Gent</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/msk/" target="_blank" rel="noopener noreferrer" class="au-c-link">MSK Museum voor Schone Kunsten Gent</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/museum-dr-guislain/" target="_blank" rel="noopener noreferrer" class="au-c-link">Museum Dr. Guislain</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/sint-pietersabdij/" target="_blank" rel="noopener noreferrer" class="au-c-link">Sint-Pietersabdij Gent</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/stam/" target="_blank" rel="noopener noreferrer" class="au-c-link">STAM - Stadsmuseum Gent</a></li>
                  <li><a href="https://toevla-production-widgets.netlify.app/posts/smak/" target="_blank" rel="noopener noreferrer" class="au-c-link">S.M.A.K. - Stedelijke Museum voor Actuele Kunst</a></li>
                </ul>
              </div>
              <div class="au-o-grid__item au-u-1-2@medium">
                <h5 class="au-c-heading au-c-heading--6">Webpagina’s:</h5>
                <ul class="au-u-margin-top-small">
                  <li><a href="https://staging.designmuseumgent.be/bezoek/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">Design Museum website</a></li>
                  <li><a href="https://dewereldvankinaqa.stad.gent/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">De Wereld van Kina website</a></li>
                  {{!-- <li><a href="https://www.gum.gent/nl/toegankelijkheid-test-widget" target="_blank" rel="noopener noreferrer" class="au-c-link">GUM website</a></li> --}}
                  <li><a href="https://historischehuizen.stad.gent/nl/gravensteen/toegankelijkheid/toegankelijkheidswidget" target="_blank" rel="noopener noreferrer" class="au-c-link">Gravensteen website</a></li>
                  {{!-- <li><a href="https://huisvanalijn.be/nl/testwidget" target="_blank" rel="noopener noreferrer" class="au-c-link">Huis van Alijn website</a></li> --}}
                  {{!-- <li><a href="https://www.industriemuseum.be/nl/testwidget" target="_blank" rel="noopener noreferrer" class="au-c-link">Industriemuseum website</a></li> --}}
                  <li><a href="https://mskgent.wieni.work/nl/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">MSK website</a></li>
                  {{!-- <li><a href="https://www.museumdrguislain.be/nl/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">Museum Dr. Guislain website</a></li> --}}
                  <li><a href="https://historischehuizen.stad.gent/nl/sint-pietersabdij/toegankelijkheid/toegankelijkheidswidget" target="_blank" rel="noopener noreferrer" class="au-c-link">Sint-Pietersabdij website</a></li>
                  {{!-- <li><a href="https://stamgent.be/nl_be/bezoek-het-stam/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">STAM website</a></li> --}}
                  {{!-- <li><a href="https://smak.be/nl/toegankelijkheid" target="_blank" rel="noopener noreferrer" class="au-c-link">S.M.A.K. website</a></li> --}}
                </ul>
              </div>
            </div>
          </div>
          <div class="au-c-numbered-list__item">
            <h4 class="au-c-heading au-c-heading--4">Vul de enquête in</h4>
            <ul class="au-u-margin-top-small">
              <li>Dat hoeft maar één keer, voor alle geteste widgets samen.</li>
              <li>Beschrijf jouw unieke ervaring. Je hoeft geen rekening te houden met andere meningen.</li>
              <li><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=pjgDDGGV6E641k6Jy9UgoOBUkLHREv5Bvoy-_vIP8B9URUNJU0oxRDBEWENINFZUNjZaOUY4TkhKTy4u" target="_blank" rel="noopener noreferrer" class="au-c-link">Je kan de enquete hier invullen</a>.</li>
            </ul>
            <p class="au-u-margin-top-small">We waken over jouw privacy. We informeren op anonieme wijze naar jouw eventuele beperking, om de antwoorden beter te begrijpen.</p>
            <p class="au-u-margin-top-small">Jouw contactgegevens worden nooit gelinkt aan de informatie uit de enquête.</p>
          </div>
        </div>
      </AuContent>
    </div>
  </section>

  <section class="au-o-region-large au-u-border-top">
    <div class="au-o-layout au-o-layout--large">
      <AuContent @skin="large" class="au-u-content-center">
        <h2>Heb je een vraag?</h2>
        <p>Neem contact met ons op via <a href="mailto:toegankelijk@vlaanderen.be" class="au-c-link">toegankelijk@vlaanderen.be</a>. We beantwoorden je e-mail binnen 24 uur of op de eerste werkdag na het weekend.</p>
      </AuContent>
    </div>
  </section>

  <section class="au-o-region-large au-c-theme-gray-200">
    <div class="au-o-layout au-o-layout--large">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom au-u-hidden-visually">Gerelateerde pagina's</AuHeading>
      <div class="au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-text-center">
            <AuBadge @icon="info-circle" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
            <AuContent>
              <AuHeading @level="2" @skin="4">
                Wat is Toegankelijk Vlaanderen?
              </AuHeading>
              <p class="au-u-margin-top-tiny">Toegankelijk Vlaanderen wil mensen, met én zonder beperking, geïnformeerd en met een gerust hart op pad laten gaan.</p>
              <p>
                <LinkTo @route="about" class="au-c-button au-c-button--secondary">
                  Onze missie
                </LinkTo>
              </p>
            </AuContent>
          </AuCard>
        </div>

        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-text-center">
            <AuBadge @icon="calendar" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
            <AuContent>
              <AuHeading @level="2" @skin="4">
                Onze aanpak
              </AuHeading>
              <p class="au-u-margin-top-tiny">We kiezen voor een kleinschalige aanpak en breiden geleidelijk sectoraal en regionaal uit.</p>
              <p>
                <LinkTo @route="roadmap" class="au-c-button au-c-button--secondary">
                  Bekijk het tijdspad
                </LinkTo>
              </p>
            </AuContent>
          </AuCard>
        </div>
      </div>
    </div>
  </section>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>
