<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar__breadcrumbs">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="login" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Home
          </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong>Roadmap</strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--large">
      <AuContent>
        <AuHeading>Roadmap</AuHeading>
      </AuContent>
      <hr class="au-c-hr">
      <AuContent>
        <h2>Onze aanpak</h2>
        <p>We kiezen voor een kleinschalige aanpak en breiden geleidelijk sectoraal en regionaal uit.</p>
        <p>We werken nauw samen met:</p>
        <ul>
          <li>regionale en sectorale partners</li>
          <li>eindgebruikers en belangenorganisaties zoals ...</li>
        </ul>
      </AuContent>
      <hr class="au-c-hr">
      <AuContent>
        <h2>Tijdspad</h2>
        <ul>
          <li><strong>Fase 0</strong> – Screening van de bestaande database van Toegankelijk Vlaanderen <AuPill @skin="success">Afgewerkt</AuPill></li>
          <li><strong>Fase 1</strong> – Prototype voor musea in samenwerking met de Stad Gent en de Gentse musea <AuPill @skin="success">Afgewerkt</AuPill></li>
          <li><strong>Fase 2</strong> – Testfase voor musea met partners en eindgebruikers <AuPill @skin="action">Aan de gang</AuPill></li>
          <li><strong>Fase 3</strong> – Uitbreiding in de culturele sector</li>
          <li><strong>Fase 4</strong> – Uitbreiding naar nieuwe sectoren</li>
        </ul>
      </AuContent>
    </div>
  </section>

  <section class="au-o-region-large au-c-theme-gray-200">
    <div class="au-o-layout au-o-layout--large">
      <AuHeading @level="2" @skin="3" class="au-u-margin-bottom au-u-hidden-visually">Gerelateerde pagina's</AuHeading>
      <div class="au-o-grid au-o-grid--small">
        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-text-center">
            <AuBadge @icon="info-circle" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
            <AuContent>
              <AuHeading @level="2" @skin="4">
                Wat is Toegankelijk Vlaanderen?
              </AuHeading>
              <p class="au-u-margin-top-tiny">Toegankelijk Vlaanderen wil mensen, met én zonder beperking, geïnformeerd en met een gerust hart op pad laten gaan.</p>
              <p>
                <LinkTo @route="about" class="au-c-button au-c-button--secondary">
                  Onze missie
                </LinkTo>
              </p>
            </AuContent>
          </AuCard>
        </div>

        <div class="au-o-grid__item au-u-1-2@small">
          <AuCard class="au-u-text-center">
            <AuBadge @icon="sitemap" @skin="brand" class="au-u-margin-right-none au-u-margin-bottom-small" />
            <AuContent>
              <AuHeading @level="2" @skin="4">
                Beschikbare gebouwen
              </AuHeading>
              <p class="au-u-margin-top-tiny">Er zijn reeds een aantal gebouwen beschikbaar in onze database.</p>
              <p>
                <LinkTo @route="buildings" class="au-c-button au-c-button--secondary">
                  Bekijk de gebouwen
                </LinkTo>
              </p>
            </AuContent>
          </AuCard>
        </div>
      </div>
    </div>
  </section>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>
