{{page-title "Video transcript – Toegankelijk Vlaanderen"}}

<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <Navigation />

  <main id="content">
    <section class="au-o-region-large">
      <div class="au-o-layout au-o-layout--large">
        <AuContent>
          <AuHeading>Video transcript</AuHeading>
        </AuContent>
        <hr class="au-c-hr">
        <AuContent @skin="large">
          <h2>Toegankelijk Vlaanderen</h2>
          <h3 class="au-u-margin-top-small">Inclusief en innovatief</h3>
          <p>Wanneer jij en ik een bezoek plannen naar een publieke plek, zoals een museum, stellen we ons een heleboel vragen.</p>
          <p>Geraken we er met het openbaar vervoer, of kan ik er parkeren?<br>
          Kunnen we er achteraf ook iets gaan drinken?</p>
          <p>Daarbovenop hebben we allemaal onze eigen specifieke noden en wensen die we graag in vervulling zien gaan: Ik hou niet zo van drukte, wanneer is het kalm?  De kinderen gaan mee, zullen zij zich ook amuseren?</p>
          <p>15% van de bevolking, en dat zijn dus al 1 miljoen mensen in Vlaanderen, hebben een beperking.<br>
          Een beperking kan zichtbaar en onzichtbaar zijn, permanent of tijdelijk zijn, en komt in allerhande situaties en combinaties voor.<br>
          Hier komen nog een pak meer voorbereidingen en vragen bij kijken.</p>
          <p>Kan ik binnen met mijn rolstoel? Hoe hoog is de balie?</p>
          <p>Ik ben slechtziend, is er ook een audiogids beschikbaar?</p>
          <p>De antwoorden op die vragen zullen bepalen of ze het museum kunnen bezoeken, of ze hun vrienden en familie willen meenemen, en of het een aangename ervaring zal zijn.<br>
          Het is echter niet eenvoudig om informatie over de toegankelijkheid van publieke gebouwen te vinden. Bijna elk museum heeft nu wel een website, maar die websites geven de informatie telkens op een andere manier weer, en de informatie is meestal niet compleet.<br>
          Een onaangename verrassing,  zoals trappen ontdekken bij de aankomst met je rolstoel, slaan de hele beleving aan diggelen.<br>
          Inter Vlaanderen en het Agentschap Binnenland Bestuur hebben de handen in elkaar geslagen om hier een oplossing voor te vinden.<br>
          Samen met eigenaars van publieke gebouwen en experts, gaan we de toegankelijkheidsinformatie in kaart brengen.</p>
          <p>De toegankelijkheidsinformatie wordt opgeslagen via een handige applicatie. De applicatie zorgt ervoor dat alle belangrijke aspecten in kader van toegankelijkheid aan bod komen.<br>
          Eigenaars krijgen ineens een beter beeld over hoe het gesteld is met de toegankelijkheid en waar er eventueel verbeterpunten zijn. Daarna wordt de informatie voor iedereen beschikbaar gemaakt op een uniforme manier. Eigenaars en ook beleidsmakers zoals lokale besturen of Toerisme Vlaanderen kunnen de informatie eenvoudig verspreiden naar bezoekers en hun gastvrijheid in de verf zetten. Ze kunnen de informatie tonen op hun websites, nieuwe applicaties bouwen, opnemen in folders. Door de toegankelijkheidsinformatie beschikbaar te maken als linked open data, zorgen we dat zowel bezoekers van publieke gebouwen, eigenaars van publieke gebouwen en het beleid een schat aan informatie aan hun voeten hebben liggen.</p>
          <p>Bezoekers worden op voorhand geïnformeerd, en ondersteund tijdens hun reis.<br>
          De informatie is overal up-to-date, en op een uniforme beschreven over verschillende platformen heen. Ongeacht hun situatie of beperking, kunnen ze met een pak minder zorgen en zelfstandig op weg.</p>
          <p>Eigenaars op hun beurt krijgen een beter beeld over hun gebouw, en worden meer gesensibiliseerd. Ze krijgen de kans om hun troeven in the picture te zetten, maar ook om eventuele teleurstellingen te voorkomen bij bezoekers.<br>
          Door de informatie te delen, spreken ze een breder publiek aan, die ook op hun beurt familie en vrienden meenemen. Hoe meer bezoekers, hoe beter!</p>
          <p>Het beleid krijgt een actueel zicht op de toegankelijkheid van haar publieke gebouwen door een geüniformiseerde rapportering.<br>
          Lokale besturen krijgen hier enerzijds de kans om hun stad beter naar de buitenwereld te profileren, maar krijgen anderzijds ook ineens waardevolle input voor een gefundeerd toegankelijkheidsbeleid. Zo weten beleidsmakers waar ze hun pijlen op moeten richten!</p>
          <p>Kortom, een geïnformeerd mens is er twee waard!</p>
          <p>Met toegankelijk Vlaanderen zorgen we voor een betere leefomgeving, ongeacht de situatie waarin je vertoeft. Je oma heeft zin om mee te komen, je vriend David geraakt overal binnen met zijn rolstoel en je kan rustig met je dochter op je arm het museum in.</p>
          <p>Zonder zorgen op pad, met toegankelijk Vlaanderen.</p>
        </AuContent>
      </div>
    </section>
  </main>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>