<h2>Experience: {{@model.title}}</h2>

<LinkTo @route="experience.edit" @model={{@model}}>Edit</LinkTo>
| <LinkTo @route="poi.show" @model={{hash id=@model.pointOfInterest.id}}>Show POI</LinkTo>

{{outlet}}